/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

#about ul, .modx-prizes div ul {
    list-style: disc;
    margin: 0 0 0 22px;
}



.sponsors--premium img {
    margin: 0 10px;
    max-width: 150px;
}

.sponsors--basic img {
    margin: 0 10px;
    max-width: 80px;
}