.DS_Store

*.log
*.logs
server-logs/

.sass-cache/

node_modules/
bower_components/

private/core/cache/
private_html/core/cache/
public_html/core/cache/
core/cache/

webroot/assets/components/modxminify/cache/
webroot/assets/components/minifyx/cache/
webroot/assets/image-cache/
webroot/assets/min/cache/
webroot/assets/components/imagestyles/cache/
webroot/assets/components/phpthumbof/cache/

public_html/assets/components/modxminify/cache/
public_html/assets/components/minifyx/cache/
public_html/assets/image-cache/
public_html/assets/min/cache/
public_html/assets/components/imagestyles/cache/
public_html/assets/components/phpthumbof/cache/

# Ignore various IDE project files and folders
.idea/
